#container{
    display: flex;
    justify-content: center;
    column-gap: 30px;
}
#plantContainer{
    display: grid;
    grid-template-columns: repeat(3,auto);
    column-gap: 20px;
    row-gap: 20px;
    
}
#plantBox{
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    border: solid 1px black;
    height: 250px; width: 250px;
    font-size: 50px;

}
#cartContainer{
    border: solid black;
    height: 500px;
    width: 200px;
}
#plantImg{
    font-size: 75px;
    
}
#plantName{
    font-size: 35px;
}
#plantButton{
    margin: 20px;
    border: none;
    border-radius: 10px;
    background-color: greenyellow;
}
#plantButton:hover{
    margin: 19px;
    border: 1px solid black;
}